:root {
	--font-main:
		system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif;
	--font-size-base: 1.6rem;
	--heading-font-weight: 600;
	--heading-margin-bottom: 1.2rem;
	--h1-size: 3.2rem;
	--h2-size: 2.4rem;
	--h3-size: 2rem;
	--h4-size: 1.8rem;
	--app-horizontal-padding: 10rem;
}

@media (min-width: 1024px) {
	:root {
		--app-horizontal-padding: 5rem;
	}
}

@media (min-width: 768px) {
	:root {
		--app-horizontal-padding: 2.5rem;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	/* Set 1rem = 10px for easier calculations */
	/* 16px × 0.625 = 10px */
	font-size: 62.5%;
}

body {
	margin: 0;
	background-color: #000000;
	color: #ffffff;
	font-family: var(--font-main);
	font-size: var(--font-size-base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
}

/* Links */
a {
	color: inherit;
	text-decoration: none;
}

/* Lists */
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--heading-font-weight);
	margin-bottom: var(--heading-margin-bottom);
}

h1 {
	font-size: var(--h1-size);
}
h2 {
	font-size: var(--h2-size);
}
h3 {
	font-size: var(--h3-size);
}
h4 {
	font-size: var(--h4-size);
}

/* Forms - normalize appearance */
input,
textarea,
select,
button {
	font: inherit;
}

/* Code / pre */
pre,
code {
	font-family:
		ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', 'Courier New',
		monospace;
	font-size: 0.875em;
}

/* Small utility to ensure images are responsive */
img {
	max-width: 100%;
	display: block;
}

/* HR */
hr {
	border: 0;
	height: 1px;
	/* background-color: theme('colors.gray.200'); */
}

.container {
	padding-left: var(--app-horizontal-padding);
	padding-right: var(--app-horizontal-padding);
}

.main-content {
	padding-left: var(--app-horizontal-padding);
	padding-right: var(--app-horizontal-padding);
}

.logo-img {
	width: 100%;
	height: 100%;
}

@media (min-width: 1024px) {
	.logo-img {
		width: 25%;
		height: 25%;
	}
}

@media (min-width: 768px) {
	.logo-img {
		width: 25%;
		height: 25%;
	}
}

.user-details {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
